.container {
  display: grid;
  grid-template-areas:
    "question . button"
    "answer answer answer";
  grid-template-columns: 1fr 32px auto;
  grid-template-rows: auto auto;
  padding: 24px;
  background-color: var(--color-white);
  border-radius: 8px;
}

.question {
  grid-area: question;
  color: var(--color-text-primary);
  font-family: var(--font-roboto);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}
/* TODO добавить транзишн*/
.answer {
  grid-area: answer;
  padding-top: 16px;
  color: var(--color-text-primary);
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 1.5;
}


.ddButton {
  grid-area: button;
  background: none;
  border: none;
  cursor: pointer;
}

