:root {
  --color-gray: #333;
  --color-white: #FFF;
  --color-orange: #F50;
  --color-text-primary: #1B1F23;
  --color-orange-disabled: #FFA375;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #F5F5F5;
}

a {
  color: inherit;
  text-decoration: none;
}

.hover {
  opacity: 1;
}

.hover:not(:disabled):hover {
  opacity: .5;
  transition: opacity .3s;
}
