.root {
    display: flex;
    z-index: 1;
    flex-direction: column;
    min-height: 100vh;
}

.mainContainer {
    display: grid;
    grid-template-areas: ". . . . ." ". sidebar . main ." ". . . . .";
    grid-template-columns: 32px 408px 23px auto 32px;
    grid-template-rows: 24px 1fr 24px;
}
.main {
    grid-area: main;
}
.sidebar {

    grid-area: sidebar;
    background-color: #FF5500;
}

.sticky {
    position: sticky;
    top: 100px;
}
