.main {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
}

.info {
  display: grid;
  grid-template-areas:
    "poster . title counter"
    "poster . . ."
    "poster . facts facts"
    "poster . . ."
    "poster . description description";
  grid-template-columns: auto 32px 1fr auto;
  grid-template-rows: auto 24px auto 32px auto;
  padding: 24px;
  background-color: var(--color-white);
  border-radius: 8px;
}

.poster {
  grid-area: poster;
  width: 400px;
  height: 500px;
}

.title {
  grid-area: title;
  color: var(--color-text-primary);
  font-family: var(--font-roboto);
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}
.counter {
  grid-area: counter;
}
.facts {
  display: flex;
  flex-direction: column;
  grid-area: facts;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 16px;
}

.factItem {
  color: var(--color-text-primary);
  font-family: var(--font-roboto);
  font-size: 20px;
  line-height: 1.2;
  list-style: none;
}

.factType {
  margin-right: 8px;
  font-weight: 600;
}

.description {
  display: flex;
  flex-direction: column;
  grid-area: description;
}

.descriptionText {
  padding: 0;
  margin: 0;
  color: var(--color-text-primary);
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 1.5;
}

.descriptionHeading {
  margin-bottom: 16px;
  color: var(--color-text-primary);
  font-family: var(--font-roboto);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
}

.reviews {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 24px 0 0;
  border-radius: 8px;
  list-style: none;
  gap: 24px;
}
